<head xmlns:th="https://www.w3.org/1999/xhtml" th:fragment="headFragment">
	<title th:include=":: #pageTitle">Job Manager Generic Title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet"/>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.6.0/js/bootstrap.bundle.js"></script>
	<link rel="stylesheet" href="/style.css"/>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
	      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">


</head>