<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">>

<head th:include="fragments/head :: headFragment">
    <title id="pageTitle">Kezdőlap</title>
</head>

<body>
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav th:replace="fragments/new-sidebar :: new-sidebar">Empty</nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <h2>Ügyfelek</h2>
            <hr>
            <div class="row card-wrapper">
                <div class="card margin-15 col-3  " style="width: 18rem; ">
                    <img src="/images/tools_f.png"

                         class="card-img-top card-image-h" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Job</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Add a new job</h6>
                        <p class="card-text">You can add a new job to an existing customer here.</p>
                        <a href="#" class="btn btn-primary">Create new job</a>
                    </div>
                </div>

                <div class="card  margin-15 col-3" style="width: 18rem;">
                    <img src="/images/report_screenshot.png" class="card-img-top card-image-h" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Service report</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Create a new report.</h6>
                        <p class="card-text">You can add a new service report to an existing job.</p>
                        <a href="#" class="btn btn-primary">Create</a>
                    </div>
                </div>

                <div class="card  margin-15 col-3" style="width: 18rem;">
                    <img src="/images/customer_image.png" class="card-img-top card-image-h" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Customer</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Add a new customer.</h6>
                        <p class="card-text">You can add a new customer to the database.</p>
                        <a href="/new-customer" class="btn btn-primary">Create</a>
                    </div>
                </div>
            </div>
            <!--            <h5>More templates</h5>-->
            <!--            <hr>-->
            <!--            <div class="row">-->
            <!--                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">-->
            <!--                    <div class="card rounded-0 p-0 shadow-sm">-->

            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">-->
            <!--                    <div class="card rounded-0 p-0 shadow-sm">-->

            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <hr>

            <footer class="text-center">
                <div class="mb-2">
                    <small>
                        © 2020 template made by - <a target="_blank" rel="noopener noreferrer"
                                                     href="https://azouaoui.netlify.com">
                        Mohamed Azouaoui
                    </a>
                    </small>
                </div>
            </footer>
        </div>
    </main>
    <!-- page-content" -->
</div>
<!-- page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script th:replace="fragments/new-sidebarjs :: new-sidebarjs"></script>
</body>

</html>