<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
	</head>
	<body>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">T1</th>
					<th scope="col">T2</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1 2</td>
					<td>1 2</td>
				</tr>
			</tbody>
		</table>
		<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
	</body>
</html>