<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/head :: headFragment">
		<title id="pageTitle">Home page title</title>
	</head>
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div class="card-wrapper col-8 closed ">
			<div class="card col-3  " style="width: 18rem; ">
				<img src="/images/tools_f.png"

				     class="card-img-top card-image-h" alt="...">
				<div class="card-body">
					<h5 class="card-title">Job</h5>
					<h6 class="card-subtitle mb-2 text-muted">Add a new job</h6>
					<p class="card-text">You can add a new job to an existing customer here.</p>
					<a href="#" class="btn btn-primary">Create new job</a>
				</div>
			</div>

			<div class="card col-3" style="width: 18rem;">
				<img src="/images/report_screenshot.png" class="card-img-top card-image-h" alt="...">

				<div class="card-body">
					<h5 class="card-title">Service report</h5>
					<h6 class="card-subtitle mb-2 text-muted">Create a new report.</h6>
					<p class="card-text">You can add a new service report to an existing job.</p>
					<a href="#" class="btn btn-primary">Create</a>
				</div>
			</div>

			<div class="card col-3" style="width: 18rem;">
				<img src="/images/customer_image.png" class="card-img-top card-image-h" alt="...">

				<div class="card-body">
					<h5 class="card-title">Customer</h5>
					<h6 class="card-subtitle mb-2 text-muted">Add a new customer.</h6>
					<p class="card-text">You can add a new customer to the database.</p>
					<a href="/new-customer" class="btn btn-primary">Create</a>
				</div>
			</div>
		</div>


	</body>
	<div th:replace="fragments/sidebarjs :: sidebarjs"></div>
</html>